      <% if current_user != user %>
        <% if (current_user.following? user) && (user.following? current_user) %> <!--相互フォロー-->
          <% if @isRoom == true %>
            <p class="user-show-room"><a href="/rooms/<%= @roomId %>" class="btn btn-primary btn-sm mt-3">チャットへ</a>
          <% else %>
            <%= form_for @room do |f| %> <!--親モデルのRoomsテーブル-->
              <%= fields_for @entry do |e| %> <!--子モデルのEntriesテーブル-->
                <%= e.hidden_field :user_id, value: user.id %> <!--Entriesテーブルのレコードにはuser_idを送る-->
              <% end %>
               <%= f.submit "チャットを始める", class:"btn btn-primary btn-sm user-show-chat mt-3"%>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
